/* -----------------------------------

	13. Icons

------------------------------------- */

i[class^="fa "]{
  line-height: inherit;
}
[class*="button_type_"]:not(.button_type_1) > i:not([class*="m_"]):only-of-type{
  margin-left:10px;
  margin-right:10px;
}
.button_type_1 > i[class^="fa "],.button_type_4 > i[class^="fa "]:not([class*="f_size"]),
.button_type_5 > i[class^="fa "]{
  font-size:21px;
}
.shop_icon{
  position:relative;
  margin-right:15px;
}
.shop_icon i[class^="fa "]{
  font-size:24px;
  margin-top:-2px;
}
.shop_icon .count{
  right:-8px;
  top:4px;
}
.social_icons li a{
  display:block;
  width:39.5px;
  height:40px;
  color:#838a8f;
}
.social_icons li a i[class^="fa "]{
  line-height: 40px;
}
.social_icons .facebook:hover a,.sw_button.facebook{background:#3b5998;}
.social_icons .twitter:hover a,.sw_button.twitter,.tw_color{background:#2daae1;}
.social_icons .google_plus:hover a{background:#f63e28;}
.social_icons .rss:hover a{background:#ff7e00;}
.social_icons .pinterest:hover a{background:#cb2027;}
.social_icons .instagram:hover a{background:#835e42;}
.social_icons .linkedin:hover a{background:#0073b2;}
.social_icons .vimeo:hover a{background:#44b0de;}
.social_icons .youtube:hover a{background:#ff3132;}
.social_icons .flickr:hover a{background:#ff0084;}
.social_icons .envelope:hover a,.sw_button.contact{background:#1abc9c;}
[class*="button_type_"].tw_color{
  -webkit-box-shadow:0 2px 0 #2896c6;
  -moz-box-shadow:0 2px 0 #2896c6;
  -o-box-shadow:0 2px 0 #2896c6;
  -ms-box-shadow:0 2px 0 #2896c6;
  box-shadow:0 2px 0 #2896c6;
}
