/* -----------------------------------

	14. Main content elements

------------------------------------- */


hr{
  border-color:#ecf0f1;
}
.divider_type_2{
  border-bottom-style:solid;
  border-bottom-width:2px;
  width:58px;
  border-color:rgba(50,58,69,.1);
}
.divider_type_3,.l_width_divider > li:before{
  border-color:#e2e6e7;
}
.divider_type_4{
  border-color:#404852;
}
.divider_type_5{
  width:58px;
  height:2px;
  background:#e6e9eb;
}
.divider_type_6{
  border-color:#e2e2e2;
}
.product_description{
  width:205px;
}
.close_product{
  font-weight: 300;
  margin-top:22px;
  background-color:transparent;
}
.total_price{
  padding:12px 20px;
  line-height: 1.2em
}
.sc_price{
  min-width:70px;
}
.sc_footer{
  padding:14px 15px 20px;
}
.page_content_offset{
  padding:60px 0;
}
.product_item,.owl-item > .photoframe{
  margin:15px;
}
.product_item .photoframe figcaption,.owl-item > .photoframe figcaption{
  padding:16px 0 12px;
}
.product_item .photoframe.type_2 figcaption{
  padding:3px 10px 0 0;
}
.product_item .photoframe img,.owl-item > .photoframe img,
.simple_slide_show img{
  -webkit-transform:none !important;
  -moz-transform:none !important;
  -o-transform:none !important;
  -ms-transform:none !important;
  transform:none !important;
}
.pp_wrap{
  z-index:1;
}
.product_item .photoframe:hover,.categories_nav_list .photoframe:hover,
.owl-item > .photoframe:hover{
  -webkit-box-shadow:0 0 17px rgba(0,0,0,0.12);
  -moz-box-shadow:0 0 17px rgba(0,0,0,0.12);
  -o-box-shadow:0 0 17px rgba(0,0,0,0.12);
  -ms-box-shadow:0 0 17px rgba(0,0,0,0.12);
  box-shadow:0 0 17px rgba(0,0,0,0.12);
}
.hot_stripe{
  position:absolute;
  top:-14px;
  right:-14px;
  z-index:1;
}
.hot_stripe.type_2{
  right:auto;
  left:-14px;
}
.qv_preview .hot_stripe{
  top:-4px;
  right:-4px;
}
.qv_preview [class*="button_type_"]{
  position:absolute;
  bottom:10px;
  right:10px;
  z-index:2;
}
.p_buttons{
  position:absolute;
  right:10px;
  bottom:10px;
  -webkit-transform:translateX(120%);
  -moz-transform:translateX(120%);
  -o-transform:translateX(120%);
  -ms-transform:translateX(120%);
  transform:translateX(120%);
  -webkit-transition-delay:.25s;
  transition-delay:.25s;
}
.product_item .photoframe:hover .p_buttons,
.owl-item .photoframe:hover .p_buttons{
  -webkit-transform:translateX(0%);
  -moz-transform:translateX(0%);
  -o-transform:translateX(0%);
  -ms-transform:translateX(0%);
  transform:translateX(0%);
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity, box-shadow;
  -moz-transition-property:    -moz-transform, opacity, box-shadow;
  -ms-transition-property:     -ms-transform, opacity, box-shadow;
  -o-transition-property:      -o-transform, opacity, box-shadow;
  transition-property:         transform, opacity, box-shadow;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.products_container{
  padding-bottom:10px;
  margin-left:-15px;
  margin-right:-15px;
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
}
.products_container.list_type{
  overflow: visible !important;
}
.banner_caption{
  position:absolute;
  width:291px;
  height:100%;
  left:17px;
  top:0;
}
.banner.type_2 .banner_caption{
  width:150px;
  left:27px;
}
.banner_type_2{
  background:#fff;
  border-width:5px;
  border-style:solid;
  padding:10px;
  height: 100px;
  font-size:1.71em;
}
.banner_type_2.green{
  border-color:#1abc9c;
}
.banner_type_2.green b{
  color:#16a085;
}
.banner_type_2.orange{
  border-color:#e67e22;
}
.banner_type_2.orange b{
  color:#d35400;
}
.photoframe{
  border:10px solid #fff;
  z-index:1;
  background:#fff;
}
.with_buttons:after{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0;
  background: rgba(41,47,56,.3);
  -webkit-transition:opacity .7s ease;
  -moz-transition:opacity .7s ease;
  -o-transition:opacity .7s ease;
  transition:opacity .7s ease;
}
.open_buttons{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-20px;
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  transform:translateX(-50%);
  z-index:3;
}
.open_buttons > *{
  opacity:0;
  -webkit-transform:translateY(20px);
  -moz-transform:translateY(20px);
  -o-transform:translateY(20px);
  transform:translateY(20px);
}
.open_buttons > *:first-child{
  -webkit-transition-delay:.2s;
  -moz-transition-delay:.2s;
  -o-transition-delay:.2s;
  -ms-transition-delay:.2s;
}
.open_buttons > *:nth-child(2){
  -webkit-transition-delay:.4s;
  -moz-transition-delay:.4s;
  -o-transition-delay:.4s;
  -ms-transition-delay:.4s;
}
.open_buttons > *:nth-child(3){
  -webkit-transition-delay:.6s;
  -moz-transition-delay:.6s;
  -o-transition-delay:.6s;
  -ms-transition-delay:.6s;
}
.photoframe:not(.type_2):hover img,.specials_item .d_block.wrapper:hover img{
  -webkit-transform:scale(1.08);
  -moz-transform:scale(1.08);
  -o-transform:scale(1.08);
  -ms-transform:scale(1.08);
  transform:scale(1.08);
}
.nav_buttons_wrap{
  margin-top:-4px;
}
.nav_buttons_wrap_type_2{
  position:absolute;
  top:50%;
  right:10px;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
}
.mini_post_content{
  padding:5px 0;
}
.sw_content{
  position:absolute;
  left:100%;
  top:0;
  padding:15px 20px 30px;
  width:265px;
  overflow: hidden;
  background:#fff;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-bottom-left-radius:4px;
  border-bottom-left-radius:4px;
}
#gmap_mini{
  height:225px;
}
.breadcrumbs{
  background:#f2f4f5;
  padding:9px 0;
}

.popup_wrap{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,.5);
  z-index:200;
}
.popup{
  background:#fff;
  padding:26px 20px 30px;
  position:absolute;
  top:50%;
  left:50%;
  width:790px;
  overflow:hidden;
}
.popup > .close{
  position:absolute;
  top:9px;
  right:12px;
}
#login_popup .popup{
  width:390px;
  padding-left:30px;
  padding-right:30px;
}
#login_popup footer{
  padding:20px 30px;
  margin:0 -30px -30px;
}
.quantity{
  background:#f5f7f8;
  border:2px solid #e4e4e2;
}
.popup .custom_scrollbar{
  height:567px;
}
.popup .half_column:nth-child(2){
  padding-right:15px;
}
.p_list_description{
  width:375px;
}
.product_single_preview{
  width:458px;
  z-index:0;
}
.iframe_video_wrap,.map_container{
  width:100%;
  height:0;
  position: relative;
  padding-bottom:56%;
}
.map_container{padding-bottom:43%;}
.iframe_video_wrap > iframe,.map_container > iframe{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}
.addthis_widget_container{
  min-width:300px;
}
aside .addthis_widget_container{
  min-width:284px;
}
[class*="alert_box"]{
  padding:25px 20px 25px 65px;
  position: relative;
}
[class*="alert_box"] i[class^="fa "]{
  font-size:36px;
  position:absolute;
  left:20px;
  top:50%;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
}
[class*="alert_box"].success{
  background:rgba(39,174,96,.1);
}
[class*="alert_box"].success i[class^="fa "]{color:#2ecc71;}
[class*="alert_box"].info{
  background:rgba(52,152,219,.1);
  color:#2980b9;
}
[class*="alert_box"].info i[class^="fa "]{color:#3498db;}
[class*="alert_box"].error{
  background:rgba(231,76,60,.1);
  color:#cb2700;
}
[class*="alert_box"].warning i[class^="fa "]{color:#f39c12;}
[class*="alert_box"].warning{
  background:rgba(243,156,18,.1);
  color:#e67e22;
}
.manufacturers{
  padding:30px 20px 25px;
}
.bs_inner_offsets{
  padding:24px 19px 20px;
}
.block_select{
  cursor:pointer;
  padding-left:32px;
}
.block_select:before{
  display:block;
  position:absolute;
  left:0;
  top:0;
}
.discount{
  width:145px;
}
.cw_product .close_fieldset{
  position:absolute;
  top:-1px;
  right:0;
}
.cw_product{
  padding-right:20px;
}
.rating_min_article{
  padding:2px 0 4px;
}
.comment{
  padding:15px 20px;
}
.comment:after{
  content:"";
  display:block;
  position:absolute;
  background:url("../images/comment_arrow.png") no-repeat;
  width:9px;
  height:18px;
  left:-9px;
  top:20px;
}
.comment_content_wrap{
  margin-left:99px;
}
.category_grid .product_item{
  width:262px;
}
.zoomLens{
  display:none !important;
}
.zoomContainer{
  width:0 !important;
  height:0 !important;
}
.portfolio_isotope_container,
.portfolio_masonry_container{
  margin-right:-15px;
  margin-left:-15px;
}
.portfolio_isotope_container .portfolio_item,
.portfolio_masonry_container .portfolio_item{
  margin:15px;
}
.portfolio_masonry_container .portfolio_item.m_width_1{
  width:451px;
}
.portfolio_masonry_container .portfolio_item.m_width_2{
  width:353px;
}
.portfolio_masonry_container .portfolio_item.m_width_3{
  width:257px;
}
.portfolio_filter{
  width:175px;
}
.portfolio_isotope_container.four_columns .portfolio_item{
  width:262px;
}
.a_title{
  padding:14px 40px 15px 19px;
  cursor:pointer;
}
.a_title.active{
  background:$brand-secondary;
}
.a_title [class*="us_icon"]{
  position:absolute;
  right:20px;
  height:100%;
}
.a_content{
  padding:24px 20px;
}
.tooltip_type_2.top{
  margin-bottom:3px;
  bottom:100%;
  left:50%;
}
.tooltip_type_2{
  background:#e2e6e7;
  padding:2px 10px;
  position:absolute;
  white-space:nowrap;
  opacity:0;
  visibility: hidden;
}
.tooltip_type_2:after{
  content:"";
  position:absolute;
}
.tooltip_type_2.bottom{
  top:100%;
  left:50%;
  margin-top:5px;
}
.tooltip_type_2.top,.tooltip_type_2.bottom{
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  transform:translateX(-50%);
}
.tooltip_type_2.right,.tooltip_type_2.left{
  -webkit-transform:translateY(-51%);
  -moz-transform:translateY(-51%);
  -o-transform:translateY(-51%);
  transform:translateY(-51%);
}
.tooltip_type_2.left{
  top:50%;
  right:100%;
  margin-right:9px;
}
.tooltip_type_2.right{
  top:50%;
  left:100%;
  margin-left:5px;
}
.tooltip_type_2.top:after{
  top:100%;
  border-left:7px solid transparent;
  border-top:5px solid #e2e6e7;
  border-right:7px solid transparent;
  left:50%;
  margin-left:-7px;
}
.tooltip_type_2.bottom:after{
  bottom:100%;
  border-left:7px solid transparent;
  border-bottom:5px solid #e2e6e7;
  border-right:7px solid transparent;
  left:50%;
  margin-left:-7px;
}
.tooltip_type_2.left:after{
  top:50%;
  border-top:7px solid transparent;
  border-left:5px solid #e2e6e7;
  border-bottom:7px solid transparent;
  left:100%;
  margin-top:-7px;
}
.tooltip_type_2.right:after{
  top:50%;
  border-top:7px solid transparent;
  border-right:5px solid #e2e6e7;
  border-bottom:7px solid transparent;
  right:100%;
  margin-top:-7px;
}
.progress_bar{
  height:9px;
}
.progress_bar > div{
  position:absolute;
  left:0;
  top:0;
  height:100%;
}

.info_block_type_3{
  padding-left:45px;
}
.team_photo{
  width:200px;
  height:200px;
}
.call_to_action_1,.recent_work_wrap{
  padding:40px 0 30px;
}
.cta_1 > div:first-child{
  width:84%;
}
.cta_1 .button_type_12{
  min-width:135px;
}
.call_to_action_2{
  padding:25px 0;
}
.big_video_container{
  width:960px;
  height:540px;
  position:relative;
}
.big_video_container > iframe{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.sw_button{
  width:40px;
  height:40px;
  color:#fff;
  font-size:1.3em;
  -webkit-border-top-left-radius:4px;
  -moz-border-top-left-radius:4px;
  border-top-left-radius:4px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-bottom-left-radius:4px;
  border-bottom-left-radius:4px;
  border-width: 0;
}
.sw_button:hover{
  -webkit-animation:jump .4s ease;
  -moz-animation:jump .4s ease;
  animation:jump .4s ease;
}