.reset{
  background: transparent;
  border: 0 none;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}
a{
  text-decoration:none;
  outline: none !important;
}
b, strong{
  font-weight:bold !important;
}
/*ul,ol{*/
.reset_ul{
  list-style: none;
}
q {
  quotes: none;
}
embed{
  vertical-align:top;
}
input,button{
  outline: none;
}
button::-moz-focus-inner{
  border:0;
}
html,body{
  height:100%;
}