/* -----------------------------------

	19. Retina ready

------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144 dpi){
  blockquote:after{
    background-image:url("../images/blockquote_arrow@2x.png");
    background-size:17px 10px;
  }
  .comment:after{
    background-image:url("../images/comment_arrow@2x.png");
    background-size:9px 18px;
  }
  .categories_list a > span:before,.categories_list a > span:after{
    background-image:url("../images/plusminus@2x.png");
    background-size:9px 10px;
  }
  input[type="radio"] + label:before,.block_select:before{
    background-image:url("../images/radio@2x.png");
    background-size:22px 44px;
  }
  .block_select:before{
    background-image:url("../images/checkbox@2x.png");
    background-size:22px 22px;
  }
}