/* -----------------------------------

	7. Tabs

------------------------------------- */

.tabs_nav li{
  margin-right: 3px;
}
.tabs_nav li a{
  padding:14px 20px 14px;
  -webkit-border-bottom-left-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-bottom-left-radius:0px;
  -moz-border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}
.tabs_nav .ui-tabs-active a,.tabs_nav li:hover a[class*="color"]{
  background:$brand-secondary;
  color:#f9f9f9;
}
.tabs_content{
  background:#fff;
  padding:25px 20px;
  -webkit-border-top-left-radius:0px;
  -moz-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.tabs.vertical .tabs_nav{
  width:30%;
}
.tabs.vertical .tabs_nav li{
  margin-right:0;
}
.tabs.vertical .tabs_nav li a{
  -webkit-border-radius:4px 0 0 4px;
  -moz-border-radius:4px 0 0 4px;
  border-radius:4px 0 0 4px;
}
.tabs.vertical .tabs_content{
  width:70%;
  padding-top:15px;
}