.content-main{
    //padding: 0px !important;
    .content-line{
          border-bottom: solid 4px $text-color;
          margin: 50px 0px 40px 10px;
     }
     
     div[class^="body-"], div[class*=" body-"]{
         padding-right: 50px;
     }
     
     .content-main{
         text-align: justify;
         
         //margin-left: -20px;
         .content-title{
            margin-top:30px;
            
            h3{
                margin-top:50px;
            }
            
            .date{
                color: $gray-light;
            }
            
            .share{
                color: $gray-light;
            }
            
            .occhiello{
                margin-top: 50px;
            }
         }
         
         .description{
             margin-top:30px;
             margin-bottom:50px;
         }
         
         .embed{
             margin: 20px;
         }
         
         .fonte{
             color: $gray-light;
             font-size: 12px;
         }
         
         .numero-comunicato{
             color: $gray-light;
             font-size: 12px;
         }
     }
    .content-related{
        //margin-left: 20px;
        
        .related-panel{
            padding: 0px 20px 20px 20px;
            background-color: #dedede;
            color: #808080;
            overflow:hidden;
            margin-top: 30px;
            margin-bottom:50px;

            .related-icon{
                margin-top: -20px;
                margin-left: 10px;
                color: #dedede;
                .fa-inverse{
                    color: $body-bg;
                }
            }
        }
    }
    
    
    .searchform{
        padding: 0px 20px 20px 20px;
        background-color: #dedede;
        color: #808080;
        overflow:hidden;
        margin-top: 10px;

        .related-icon{
            margin-top: -20px;
            margin-left: 41px;
            color: #dedede;
            .fa-inverse{
                color: $body-bg;
            }
        }
        .searchform-content{
            color: $text-color;
        }
    }
    
    // --- customizzazioni su classi di contenuto ---
    .class-pubblicazione{
        margin-top: 40px;
        .body-pubblicazione{
            margin-top:20px;
        }
        
        .content-line{
            margin: 30px 0px 30px 10px;
        }
    }
    
    .body-gallery{
        .content-title{
            margin-bottom: 50px;
        }
    }
    
    .class-frontpage{
        margin-top: 60px;
    }
}

// -------- small devices
@media only screen and (max-width: 768px){
    .content-main{
        div[class^="body-"], div[class*=" body-"]{
            padding-right: 50px;
        }
        
        .content-main{
            text-align: left;

        }
        
        // --- customizzazioni su classi di contenuto ---
        .class-frontpage{
            margin-top: 0px;
        }
    }
}
