// -------- large desktops

#header{
    background: $body-bg;
    
    .top-banner-v3{
        @extend .top-banner;
        
        height: 450px !important;
        
        .top-carousel{
            position: absolute;
            top: 0;
            left: 0;
            
            .owl-item{
                padding: 0;
                .item{
                    min-height: 450px !important;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            
            .owl-controls{
                .owl-prev{
                    position: absolute;
                    left: 20px;
                    top: 170px;
                    
                    background: none !important;
                }
                .owl-next{
                    position: absolute;
                    right: 20px;
                    top: 170px;
                    
                    background: none !important;
                }
            }
        }
        
        .site-user-menu{
            position: absolute;
            right: 10%;
            ul{
                border-radius: 0px;
            }
        }
    }
    
    .site-title{
        position: absolute;
        width: 100%;
        margin-top: 376px;
        margin-left: 0px;
        margin-right: 0px;
        div{
            // background-color: rgba(0,0,0,0.4);
            h1{
                font-weight: 900;
                font-size: 40px;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}

// -------- desktops


// -------- small devices