// -------- large desktops

#header{
    background: $body-bg;
    height: 326px; // dinamico
    
    .top-banner-v3{
        @extend .top-banner;
        
        // height: 450px !important;
        
        .top-bar{
            position:absolute;
            top: 0;
            left: 0;
            
            z-index: 10;
            img{
                width: 100%; 
                height: auto;
            }
        }
        
        .top-bar-small{
            display: none;
        }
        
        .tob-bar-icons{
            .site-logo{
                img{
                    width: 100%;
                    height: auto;
                    margin-top:5px;
                }
            }
            .site-logo-small{
                display: none;
            }
        }
        
        .tob-bar-icons{
            position: absolute;
            top: 30px;
            left: 0;

            width: 100%;

            z-index: 20;
            
            .social-icon{
                //padding-right: 10px;
                text-decoration: none;
                
                .social-circle{
                    display: none;
                    font-size: 1.4em;
                }
                .social-logo{
                    color: #fff;
                }
            }
            
            .social-icon:hover{
                .social-circle{
                    display: block;
                }
                .social-logo{
                    color: $text-color;
                }
            }
        }
        
        .top-carousel{
            position: absolute;
            top: 0;
            left: 0;
            
            .owl-item{
                padding: 0;
                .item{
                    // min-height: 450px;
                    background-position: center;
                    background-repeat: no-repeat;
                    
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
            
            .owl-controls{
                .owl-prev{
                    position: absolute;
                    left: 20px;
                    top: 92px; // dinamico
                    
                    background: none !important;
                    
                    z-index: 20;
                }
                .owl-next{
                    position: absolute;
                    right: 20px;
                    top: 92px; // dinamico
                    
                    background: none !important;
                    
                    z-index: 20;
                }
            }
        }
        
        .site-user-menu{
            position: absolute;
            padding-top: 5px!important;
            right: 0;
            ul{
                border-radius: 0px;
            }
        }
    }
    
    .site-title{
        position: absolute;
        width: 100%;
        margin-top: 242px; // dinamico
        margin-left: 0px;
        margin-right: 0px;
        div{
            // background-color: rgba(0,0,0,0.4);
            h1{
                font-family: 'Helvetica Black', Helvetica, Arial,'sans-serif';
                font-weight: 900;
                font-size: 40px;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}

.small-devices-menu{
    button{
        color: $gray-light;
        font-size: 1.5em; 
        border-radius: 2px;
        border-color: $gray-light;
        border-width: 1px;
        background-color: inherit;
    }
}

// -------- desktops
@media only screen and (max-width: 992px){
    #header{
        .site-title{
            div{
                h1{
                    padding-top: 10px;
                    font-size: 30px;
                }
            }
        }
    }
}

// -------- small devices
@media only screen and (max-width: 768px){
    #header{
        
        .top-banner-v3{
            
            .top-bar{
                display: none;
            }

            .top-bar-small{
                position:absolute;
                top: 0;
                left: 0;

                z-index: 10;
                
                display: block;
                img{
                    width: 100%; 
                    height: auto;
                }
            }
            
            .tob-bar-icons{
                .top-social-icons{
                    margin-left: 0px;
                    width: 41.66667%;
                    margin-top: -4px;
                }
                .site-logo{
                    display: none;
                }
                .site-logo-small{
                    display: block;
                    img{
                        width: 14px;
                        height: auto;
                    }
                }
            }
            
            .top-carousel{
                .owl-controls{
                    .owl-prev{
                        display: none;
                    }
                    .owl-next{
                        display: none;
                    }
                }
            }
            
            .site-user-menu{
                top: 6%;
                background-color: rgba(0,0,0,0.7);
            }
        }
        .site-title{
            div{
                h1{
                    padding-top: 20px;
                    font-size: 20px;
                }
            }
        }
    }
}