
/* =panels
-------------------------------------------------
*/
.media-panel{
    margin-bottom: 30px;
    
    margin-left: 10px;
    margin-right: 10px;
    
    .figure-border{
        background-color: #fff;
        padding: 15px 15px 0px 15px;
    }
    
    figure {
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center center !important;
      background-color: #ffffff !important;
      margin: 0;
      min-height: 200px;
      @extend .r_corners_top;
      border-bottom: none !important;
      border-radius: 0px !important;
      @extend .shadow;
    }
    .media{
      @extend .widget;
      background:#fff;
      padding: 15px;
      &.has-image {
        margin-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      h4{
        margin-top: 0;
        font-weight: bold !important;
        a{
          text-decoration: none;
        }
      }
      .media-line{
          border-bottom: solid 4px $text-color;
          margin: 20px 0px 20px 10px;
      }
      .abstract{
        font-size: 0.9em;
      }
      p.link{
        margin-bottom: 0;
        text-transform: uppercase;
      }
      .media-panel-date{
        color: $gray;
      }
    }
    .carousel-caption {
        padding: 0px 5px 35px 5px !important;
        h4 {
          background-color: rgba(0, 0, 0, 0.7);
          display: inline-block;
          padding: 12px;
          line-height: 1em;
          @extend .color_light;
          margin-bottom: 0;
          width: 100%;
          text-transform: uppercase;
          a {
            @extend .color_light;
            text-decoration: none;
          }
        }
    }
    
    .gallery-panel{
        padding: 0px 12px 20px 12px;
        background-color: #dedede;
        color: #808080;
        overflow:hidden;
        margin-top: 20px;
        min-height: 192px;
        
        h3{
            a{
                color:#808080;
                text-decoration: none;
            }
            a:hover{
                color: $brand-primary;
            }
        }

        .related-icon{
            margin-top: -20px;
            margin-left: 10px;
            color: #dedede;
            .fa-inverse{
                color: $body-bg;
            }
        }
    }
    
    .panel-button{
        @extend .btn;
        @extend .btn-xs;
        
        background-color: $text-color;
        color: #fff;
        font-size: 9px;
        padding: 2px 5px;
        margin-top: -7px;
        text-transform: uppercase;
        line-height: 1.2em;
        letter-spacing: 1px;
    }
    .panel-button:hover{
        background-color: $brand-primary;
        color: #fff;
    }
    
    .fa-download{
        color: $gray-light;
    }
}

// -------- wide desktop
@media only screen and (max-width: $screen-lg){
    
    .media-panel{
        .gallery-panel{
            min-height: 249px;
        }
    }
}


// -------- desktop
@media only screen and (max-width: $screen-md){
    
    .media-panel{
        .gallery-panel{
            min-height: auto;
        }
    }
}