// STILE GENERALE //


#page{
    background-color: $body-bg;
}

.btn{
    border-radius: 0px !important;
}

/* =home
-------------------------------------------------
*/
.top-banner-v3{
    a.title-home-bianco{
       color: white;
    } 

    a.title-home-nero{
       color: black;
    } 

    a.title-home-grigioscuro{
       color:#1a1a1a;
    } 
}

/* =banner
-------------------------------------------------
*/
.banner{
    .edit-pencil{
        position: absolute;
        left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        //border-radius: 5px;
        color: white;
        background-color: rgba(0,0,0,0.8);
    }
    
  .external-url{
        position: absolute;
        right: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 10px;
        color: black;
    }  
  
}

/* =pubblicazioni
-------------------------------------------------
*/

.fw_medium_pubblicazione{
    font-size: 26px;
    text-transform: none !important;
    border-bottom: none !important;
    
    a:hover{
        text-decoration: none;
    }
    a:active{
        text-decoration: none;
    }
}

.btn-xs_thiny {
    padding: 4px 20px;
    font-size: 11px;
    line-height: 1.0;
    border-radius: 3px;
}

.imagepull-left{
    margin-left:0px;
}

.media-panel-date-medium {
     font-size: 13px;
}
.media-panel-date-padding-bottom {
    padding-bottom: 20px;
    color:#9b9b9b;
}

.nofigure{
    margin-left: 0px;
    margin-top: 30px; 
    margin-bottom: 20px; 
}

/* =gallery
-------------------------------------------------
*/
.figcaption{
    text-align: left;
}

/* =imposta un min-height per i div nella vista  panel 
-------------------------------------------------
@media screen and (min-width: $screen-md-min) {
    .media.has-image{
            min-height: 260px;
    }
}
*/