
.nav-section{
  @extend .col-sm-3;
}

.content-main{
  @extend .col-sm-9;
  &.wide{
    @extend .col-sm-12;
  }
  .full-stack &{
    @extend .col-sm-6;
  }
}

.content-related{
  @extend .col-sm-3;
}

.content-related-folder{
  @extend .content-related;
  width: 33% !important;
  .related-panel-title{
      text-transform: lowercase;
      margin-top: 1em;
      font-size: 1.3em;
      letter-spacing: 1px;
  }
  
  .related-panel-images{
        text-align: left;
        width: 25px;
        padding-bottom: 5px;        
  }
  
  .related-panel-text{
      text-transform: lowercase;
      padding-left: 10px;
      padding-right: 1px;      
      text-align: left;
  }
}

