
// -------- desktop devices
footer{
    color: #fff;
    background-color: $brand-secondary; //#aaa;
    border-top: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    
    .footer-logo{
        position: relative;
        text-align: center;
        background-image: url(logo-provincia-white.png);
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        width: 100px;
        height: 160px;
        display:inline-block;
        vertical-align: top;
        *display:inline; /* ie7 fix */
        float:none;
    }

    .footer-links{
        padding-top: 100px;
        padding-bottom: 20px;
        border-bottom: 4px solid $brand-primary;
        
        .footer-icon{
            font-size: 3em;
        }
    }

    .footer-links-bottom{
        padding-top: 20px;
    }

    a:link, a:visited, a:active{
        color: #fff;
    }
    a:hover{
        color: $brand-primary;
    }
}

// -------- small devices
@media(max-width: 768px){
    footer{
        .footer-links{
            .footer-icon{
                font-size: 2em;
            }
        }
    }
}
